# data and processed data
data/
processed/
result/
embeddings/
**bak/

# log and history
logs/
log/
.history/
**history/
**DS_Store

# config
**_private**
.vscode/launch.json
.idea
.settings

**__pycache__/
temp/
input/
temp_**

Deprecated_**

*.ipynb_checkpoints/
.ipynb_checkpoints/
.stignore
cache/
